# Ignore all files by default
*

# Allow Python files in the current directory
!*.py
!*.yml

# Ignore all directories to prevent subdirectories from being included
*/
# Allow only these directories
!.github/
!.github/workflows/
!tests/
!venv/

# Allow explicitly tracked files (if needed)
!.gitignore
!requirements.txt