name: Deploy Mokey

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:

    - name: Stop running bot
      run: |
        pkill -f /home/nil/Projects/discord_bot_mokey/run.sh || true

    - name: Pull latest repo
      run: |
        cd /home/nil/Projects/discord_bot_mokey
        git pull

    - name: Restart bot
      run: |
        cd /home/nil/Projects/discord_bot_mokey
        nohup bash run.sh > bot.log 2>&1 &
