name: Deploy Mokey

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Stop running bot
      run: |
        pkill -f run.sh || true
        echo "Old bot killed"

    - name: Pull latest repo
      run: |
        cd /home/nil/Projects/discord_bot_mokey
        git pull
        echo "Repo pulled"

    - name: Start bot
      run: |
        cd /home/nil/Projects/discord_bot_mokey
        nohup ./run.sh > bot.log 2>&1 &
        disown
        echo "Bot started"
